/* Dark theme CSS */
:root {
  --light-color: #fcfbfb;
  --light-shadow-color: hsl(70deg 0% 85%);
  --dark-color: #24292f;
  --dark-shadow-color: hsl(0deg 10% 5%);

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--light-color);
    --background-color: var(--dark-color);
    --shadow-color: var(--dark-shadow-color);
  }
}

:global(body.dark-scheme) {
  --color: var(--light-color);
  --background-color: var(--dark-color);
  --shadow-color: var(--dark-shadow-color);
}

:global(body) {
  --color: var(--dark-color);
  --background-color: var(--light-color);
  --shadow-color: var(--light-shadow-color);

  color: var(--color);
  background-color: var(--background-color);
}

/* Component CSS */
.wrapper {
  display: grid;
  min-height: calc(100vh - 7rem);
  grid-template-columns: 1fr min(60ch, 90%) 1fr;
  place-content: center;
}

.wrapper > * {
  text-align: center;
  grid-column: 2;
}

h1 {
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  gap: 8px;
  letter-spacing: -0.04em;
}

h1 > img {
  width: 7rem;
  filter: drop-shadow(1px 2px 8px var(--shadow-color));
  cursor: pointer;
}

p {
  font-weight: 300;
}
