# global owners will be requested for review when someone opens a pull request.

- @monstar-lab-oss/reactjs-boilerplate-maintainers

# In this example, modifies `docs/*` pattern, only @doc-maintainer and not the global owners will be requested for a review.

# docs/\* @doc-maintainer

# Order is important; the last matching pattern takes the most precedence.
